
html{
  height: 100%;
  font-size: 16px;
}
body {
  background-color:#ebebeb;
  overflow: hidden;
  height: 100%;

}

p{
  font-size:14pt;
  color:#353434;
}



.list{
  /*float: left;*/
  position: absolute;
  width: 400px;
  height: 100%;
  left: -400px;
  top:0px;
  background-color:#ededed;
  z-index: 98;
}

.listcontent{
  margin-top: 200px;
  margin-left: 40px;

}

.wrap{
  position: relative;
  margin-top: 64px;
  margin-left:25%;
  width:50%;
  height: 100%;
  overflow: hidden;
}

.page-scroll{
  position: absolute;
  width: 100%;
  top:0px;
}

.page{
  height: 100%;
  overflow-y:auto;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top:6px;
  margin-bottom: 6px;
  color:#1b1b1b;
}

.content {
  font-size:16pt;
  color:#353434;
  line-height: 150%;
  margin-top:6px;
  margin-bottom: 6px;
}

.user{
  text-align: right;
  font-size: 1em;
  font-weight: 100;
}


.indexbtngroup{
  /*opacity:0.8;*/
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  z-index: 99;
  width: 3em;
  height: 3em;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: table;
  text-align: center;
}

.icon-indexbtn{
  font-family:'icomoon';
  color: #1c1c1c;
  z-index: 100;
  display: table-cell;
  vertical-align: middle;
  width: 3em;
  height: 3em;
}

.scrollbar{
  position: absolute;
  right: 20px;
  bottom: 10%;
  /*float: right;*/
  /*margin-top: 650px;*/
  /*margin-right:50px;*/
}

.icon-arrow-down{
  font-family:'icomoon';
  font-weight: bold;
  color: #1c1c1c;
  z-index: 100;
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.icon-arrow-up{
  font-family:'icomoon';
  font-weight: bold;
  color: #1c1c1c;
  z-index: 100;
  display: table-cell;
  vertical-align: middle;
  width: 3em;
  height: 3em;
}

.ibtn{
  margin:24px;
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: table;
  text-align: center;
}

#mask{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 97;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}


