html{
  height: 100%;

}

body{
  position: relative;
  background-color:#ebebeb;
  width: 100%;
  color:#353434;
  overflow: hidden;
}


.page-scroll{
  height: 100%;
  position: relative;
  left:0px;
  overflow: hidden;
  /*display: inline-block;*/
}
.page{

  /*display: inline-block;*/
  position:relative;
  float: left;
  overflow:auto;
  -webkit-overflow-scrolling:touch

}

.title{
  padding-left: 6%;
  padding-right: 6%;
  font-size: 5em;
  padding-top:6%;
  padding-bottom: 0.7em;


}

.content{
  font-size: 4em;
  padding-left: 6%;
  padding-right: 6%;

}

.refresh{
  background-color: red;
  border-radius: 50%;
  width: 7em;
  height:7em;

}
